AddHandler php80-script .php
suPHP_ConfigPath /home/betinalimpeza/

#### START WordPress

RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} \!-f
RewriteCond %{REQUEST_FILENAME} \!-d
RewriteRule . /index.php [L]

#### END WordPress

